.fullScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.wrapper > div {
  height: 100%;
}

.fullScreenPreview {
  width: 100%;
  height: 100%;
  border: none;
}

.fullScreenPreview > iframe {
  height: 100% !important;
}
